#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DDANOS_BUILD_TESTS=OFF

override_dh_auto_install:
	dh_auto_install

override_dh_auto_test:
	# Skip tests during package build (run separately)
